
.plu-wrap{
    width: 1200px;
    padding: 30px 0px;
    text-align: left;
}

.plu-s-header {
        margin-bottom:20px;
        box-sizing: border-box;
}

.plus-flex{
  display: flex;
}

.plu-s-page-header{
  overflow: hidden;
  padding: 20px 10px;
  width: 100%;
}

.plu-s-page-header h1{
  font-size: 23px;
font-weight: bold;
margin: 0;
padding: 9px 0 4px;
line-height: 29px;
text-transform: uppercase;
color: #545454;
}

.contenedor {
  justify-content: space-between;
  align-items: flex-start;
}

.contenedor .filtro, .contenedor .caja{
  background: #fff;
  padding: 20px 20px;
  margin-left: 10px;
  border-radius: 3px;
  width: 90%;
}
 .contenedor .caja{
   margin-bottom: 20px;
 }


.contenedor .filtro{
-webkit-flex: none;
        flex: none;
        width: 300px;
}

.contenedor .resultados{
  -webkit-flex: 1;
          flex: 1;
}

.item .header{
  border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: #6a6a6a;
    display: flex;
    font-size: 14px;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
}

.caja .header{
      border-bottom: 0px solid #ddd;
}

.item .header .plus-bton{
    display:none;
    margin-top: 0px !important;
    background: #ffc40a;
}
.item .header .plus-bton .fa{
font-size: 16px;
font-weight: bold;
opacity: 0;
}

.lista-filtros{
  position: relative;
}
.lista-filtros .filtros{
  justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.lista-filtros .filtros span{
      color: #797878;
}

.plus-bton{
    font: 500 13px/20px 'Roboto';
    background: #65ca00;
    color: #FFF;
    text-transform: uppercase;
    padding: 11px 20px 9px;
    height: auto;
    display: inline-block;
    margin: 0;
    border: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
    box-shadow: none;
    -moz-transition: color 0.3s,opacity 0.3s;
    transition: color 0.3s,opacity 0.3s;
    text-shadow: none;
    margin-top: 20px;
    outline: 0;
}


table.plu-table{
  background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
width: 100%;
max-width: 100%;
}

.plu-table .t-head{
  margin-left: 2px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0,.1);
  text-transform: uppercase;
}
.plu-table tr th:first-of-type{
      width: 70%;
}

.plu-table>tr>th,.plu-table>tr>td {
    padding: 10px;
    line-height: 1.42857;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.c-body{
  padding-top: 15px;
}

.c-body a{
  text-decoration: none;
  font-size: 12px;
}
.c-body span{
  display: block;
  color:#999;
  font-size: 11px;
}

.total-share{
  background: #dce4d6;
color: #6b6b6b;
display: inline-block;
padding: 1px 15px;
font-size: 12px;
border-radius: 3px;
}

.plu-s{
    padding: 6px 12px;
    border-radius: 4px;
    color:#fff;
    text-decoration: none;
}

.plu-s:hover{
  color:#fff;
}

.plu-s.facebook{
      background-color: #3B5998;
}
.plu-s.twitter{
      background-color: #55acee;
}
.plu-s.google-plus{
      background-color: #dc4e41;
}


.autores-caja{
  justify-content: space-between;
  align-items: center;
}

.lista_autores {
  width: 250px;
}

.lista_autores .fila-autor{
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.lista_autores .fila-autor span:first-of-type{
    padding-right: 60px;
  }

.grafica_autores{
    height: auto;
    overflow: hidden;
}

#seccion-autores{
  position: relative;

}

#chart-area{
  width: 310px !important;
}

#seccion-autores.carga{
    background: rgba(0, 0 ,0,.1);
    z-index: 100;
}


input.icon-fecha {
    padding:5px;
}
input.icon-fecha::-webkit-input-placeholder {
    font-family:'FontAwesome';
    text-align: right;
}
input.icon-fecha::-moz-placeholder {
    font-family:'FontAwesome';
    text-align:  right;
}
input.icon-fecha::-ms-input-placeholder {
    font-family:'FontAwesome';
    text-align:  right;
}



.spinner-plu {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  right: 3%;
  bottom: 1%;
  display: none;
}

#seccion-autores .spinner-plu{
  width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 30%;
    display: none;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1001;
}

.spinner-plu > div {
  background-color:#b6bbb6;;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#seccion-autores .spinner-plu > div {
    background-color: #ffffff;
  }



.spinner-plu .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-plu .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-plu .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-plu .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
